<!DOCTYPE HTML>
<html>
<head>
<title>我爱打代码</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,王风宇个人博客,个人博客系统,老王博客,王风宇">
<meta name="description" content="Lao王博客系统，一个站在java开发之路上的草根程序员个人博客网站。">
<LINK rel="Bookmark" href="favicon.ico" >
<LINK rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
<link rel="stylesheet" type="text/css" href="../static/plugin/pifu/pifu.css" />
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery-1.10.2.js"></script>
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="logo navbar-logo-m visible-xs" href="index.html">我爱打代码</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);" onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"> <a href="/index" data-hover="首页">首页</a> </li>
                    <li id="newTitle" style="display: none;"> <a href="/addArticle" data-hover="发表新文章">发表新文章</a> </li>
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover">
                            <div id="true" style="display: none;">
                                <a href="javascript:;" ></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li><a href="/logout">退出</a></li>
                                </ul>
                            </div>
                            <div id="false" style="display: none;">
                                 <a href="/login" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" >登录</a>
                            </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="/index" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{{obj.title}}</span></div>
</nav>

<section class="container pt-20">
	
	<div class="row w_main_row">
				
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body pt-10 pb-10">
							<h2 class="c_titile">{{obj.title}}</h2>
							<p class="box_c"><span class="d_time">发布时间：{{ obj.time }}</span><span>编辑：<a href="mailto:wfyv@qq.com">{{ obj.username }}</a></span><span>阅读（0）</span></p>
                                        <div id="lalala" style="display: none;">{{ obj.content }}</div>
                                        <div id="account" style="display: none;">{{ obj.account }}</div>
                            <div id="test">


                            </div>
															

						</div>
					</div>
					
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
                <a href=""><strong>评论区</strong></a>
            </div>
						<div class="panel-body">
							<div class="panel-body" style="margin: 0 3%;">
                    <div class="mb-20">
                    	<ul class="commentList">
                        </ul>
    
                    </div>
                    <div class="line"></div>
                    <!--用于评论-->
                    <div class="mt-20" id="ct">
                        <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                        <textarea id="pinglun" cols="130" rows="5" name="comment" style="border: 1px solid lightgray;" placeholder="看完不留一发？"></textarea>
                        <div class="text-r mt-10">
                            <button onclick="getPlainTxt()" class="btn btn-primary radius" > 发表评论</button>
                        </div>
                    </div>

                </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					<li>
						<a href="http://localhost:5000/getArticleById?id=c0f2cc9a-472d-11eb-9f7d-380025893702">动手做一个文件服务器</a>
					</li>
				</ul>
			</div>
		</div>
						
		<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>关注网站负责人</strong></a>
			</div>
			<div class="tab-category-item">
				<img src="https://img-blog.csdnimg.cn/20201225163508111.png" data-original="temp/gg.jpg" class="img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
<footer class="footer mt-20">
		<p>Copyright &copy;2017 wfyvv.com All Rights Reserved. <br>
			<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">皖ICP备17002922号</a><br>
		</p>
</footer>
<script type="text/javascript" src="../static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="../static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script type="text/javascript" src="../static/js/showdown.min.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
{#<script type="text/javascript" src="../static/plugin/wangEditor/js/wangEditor.js"></script>#}
<script type="text/javascript">

    var isLogin=false;
    $(function () {
         $.post(
            "/isLogin",
            function (data) {
                {#alert(data)#}
                 if(data=="没有登录"){
                    // $("#true").hide()
                    $("#false").show()
                    // $("#newTitle").hide()
                    $("#wdwz").hide()
                }else{
                    // $("#false").hide()
                    $("#true").show()
                    $("#newTitle").show()
                    $("#true>a").html(data)
                }
            }
        );
         var url = window.location.href;
         var articleid=url.slice(url.lastIndexOf('=')+1);
         $.post(
             "/getPinglun",
             {articleid:articleid},
             function (data) {
                var tempStr=''
                 var newData=JSON.parse(data)
                 for(var i=0;i<newData.length;i++){
                     tempStr+='<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>\n' +
                         '                                <div class="comment-main">\n' +
                         '                                    <header class="comment-header">\n' +
                         '                                        <div class="comment-meta"><a class="comment-author" href="#">'+newData[i].username+'</a>\n' +
                         '                                            <time class="f-r">'+newData[i].time+'</time>\n' +
                         '                                        </div>\n' +
                         '                                    </header>\n' +
                         '                                    <div class="comment-body">\n' +
                         '                                        <p>'+newData[i].content+'</p>\n' +
                         '                                    </div>\n' +
                         '                                </div>\n' +
                         '                            </li>'
                 }
                 $(".commentList").html(tempStr);
             }
         );

         var converter = new showdown.Converter();
         var text = $("#lalala").html();   //需要显示的markdown笔记
         var html = converter.makeHtml(text);
        var newHtml=html.replaceAll('<img src','<img style="margin-top:20px;width:800px;height:300px;" src');
         document.getElementById('test').innerHTML = newHtml;

    });

    function getPlainTxt() {
        if(isLogin){
            var content=$("#pinglun").val();
            var url = window.location.href;
            var articleid=url.slice(url.lastIndexOf('=')+1);
            var toaccount=$("#account").html();
            $.post(
                "/pinglun",
                {toaccount:toaccount,articleid:articleid,content:content},
                function (data) {
                    if(data=='success'){
                        var url = window.location.href;
         var articleid=url.slice(url.lastIndexOf('=')+1);
         $.post(
             "/getPinglun",
             {articleid:articleid},
             function (data) {
                var tempStr=''
                 var newData=JSON.parse(data)
                 for(var i=0;i<newData.length;i++){
                     tempStr+='<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>\n' +
                         '                                <div class="comment-main">\n' +
                         '                                    <header class="comment-header">\n' +
                         '                                        <div class="comment-meta"><a class="comment-author" href="#">'+newData[i].username+'</a>\n' +
                         '                                            <time class="f-r">'+newData[i].time+'</time>\n' +
                         '                                        </div>\n' +
                         '                                    </header>\n' +
                         '                                    <div class="comment-body">\n' +
                         '                                        <p>'+newData[i].content+'</p>\n' +
                         '                                    </div>\n' +
                         '                                </div>\n' +
                         '                            </li>'
                 }
                 $(".commentList").html(tempStr);
             }
         );
         $("#pinglun").val('')
                    }else{
                        alert('评论失败')
                    }
                }
            );

        }else{
            alert('请先登录')
        }


    }

</script>
</body>
</html>
